<div class="toolbar bg-dark" role="banner">
<div class="row">
        <div class="col-3">
            <img width="80" src="../../assets/logo.jpeg" alt="">
        </div>
        <div class="col-9">
            <h1 style="color: white;margin-top: 20px;">Approval Test</h1>
        </div>
    </div>
  </div>
  <div class="container mt-4" style="padding: 0 0 0 0;">
    <div *ngFor="let question of btluser" class="card mb-4" style="width: 400px; padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fas fa-question-circle mr-2" style="color: #007bff;"></i> {{ question.qus }}
        </h5>
        <div class="form-check mb-2">
          <input type="radio" id="option1" name="options" [(ngModel)]="selectedAnswer" [value]="question.op1">
          &nbsp;&nbsp;<label for="option1">{{ question.op1 }}</label><br>
          <input type="radio" id="option2" name="options" [(ngModel)]="selectedAnswer" [value]="question.op2">
          &nbsp;&nbsp;<label for="option2">{{ question.op2 }}</label><br>
          <input type="radio" id="option3" name="options" [(ngModel)]="selectedAnswer" [value]="question.op3">
          &nbsp;&nbsp;<label for="option3">{{ question.op3 }}</label><br>
          <input type="radio" id="option4" name="options" [(ngModel)]="selectedAnswer" [value]="question.op4">
          &nbsp;&nbsp;<label for="option4">{{ question.op4 }}</label><br>
          <label class="form-check-label ml-2"></label>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-primary btn-sm" type="submit" (click)="submit(question)">
          <i class="far fa-check-circle mr-1"></i> Submit
        </button>
      </div>
    </div>
  </div>
  
  
